 .container {
justify-content: center;
position: absolute;
top: 50%;
left: 50%;
/* transform: translate(-50%, -50%); */
display: flex;
justify-content: flex-start;
align-items: space-between;
}


.main-banner  {
  margin-top: 25%;
  margin-left: 12.5%;
  font-size: 22px;

}

.main-banner h2 {
  text-decoration: underline;
}

img {
  height: 100px;
  width: 150px;
  border-radius: 60px;
}

@keyframes move
{
  from {
    left: 0;
  }
  to {
    left: 75%;
  }
}

a #blossom {
  left: 75%;
  position: absolute;
  animation: move 5s;
}

a #blossom img {
  transition-duration: 1s;
}

a #blossom img:hover {
  transform: rotate(360deg);
}