 .container {
justify-content: center;
position: absolute;
top: 50%;
left: 50%;
/* transform: translate(-50%, -50%); */
display: flex;
justify-content: flex-start;
align-items: space-between;
}


body {
  background-image: linear-gradient(#f16b74, #f5f5f5);
  background-attachment: fixed;
}

.main-banner  {
  display: flex;
  margin-top: 12.5%;
  margin-left: 12.5%;
  font-size: 2rem;
  align-content: center;
  font-family: 'Bitter', serif;

}

 h2 {
  font-size: 1.5rem;
  margin-top: 0.5%;
  margin-left: 12.5%;
  text-decoration: underline;
  font-family: 'Bitter', serif;
}

img {
  height: 100px;
  width: 150px;
  border-radius: 60px;
}

@keyframes move
{
  from {
    left: 0;
  }
  to {
    left: 75%;
  }
}

a#blossom {
  left: 75%;
  position: absolute;
  animation: move 5s;
}

a#blossom img {
  transition-duration: 1s;
}

a#blossom img:hover {
  transform: rotate(360deg);
}